<footer class="footer-area footer-bg">
        <div class="footer-middle pt-100 pb-70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <a href="../index" class="logo">
                                <img src="../assets/img/logo/kbd-white.png" alt="Logo" style="width:70%;">
                            </a>
                            <p>
                                Explore Kenya Bizz is your gateway to local entrepreneurship — connecting Nairobi,
                                Mombasa, Kisumu, and beyond.
                            </p>
                            <p>
                                Discover verified listings, neighborhood gems, and hidden business champions across
                                Kenya.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget pl-5">
                            <h3>CONTACT INFO</h3>
                            <ul class="footer-contact-list">
                                <li><span>Monday - Saturday :</span> 9 am to 6 pm</li>
                                <li><span>Phone :</span> <a href="tel:+254700000000">+254 700 000 000</a></li>
                                <li><span>Email :</span> <a
                                        href="mailto:hello@kenyabizzdirectory.com">hello@kenyabizzdirectory.com</a></li>
                            </ul>

                            <ul class="social-link">
                                <li><a href="https://www.facebook.com/profile.php?id=61579269054692" target="_blank"><i
                                            class='bx bxl-facebook'></i></a></li>
                                <li><a href="https://twitter.com/explorekenyabizz" target="_blank"><i
                                            class='bx bxl-twitter'></i></a></li>
                                <li><a href="https://www.instagram.com/explorekenyabizz" target="_blank"><i
                                            class='bx bxl-instagram'></i></a></li>
                                <li><a href="https://www.youtube.com/@explorekenyabizz" target="_blank"><i
                                            class='bx bxl-youtube'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-8">
                        <div class="footer-widget pl-5">
                            <h3>LATEST UPDATES</h3>
                            <ul class="footer-news">
                                <li>
                                    <div class="img">
                                        <a href="#"><img src="../assets/img/blog1.jpg" alt="Images"></a>
                                    </div>
                                    <div class="content">
                                        <h4>1 Aug 2025</h4>
                                        <span><a href="#">Top 10 Small Businesses Thriving in Nairobi</a></span>
                                    </div>
                                </li>

                                <li>
                                    <div class="img">
                                        <a href="#"><img src="../assets/img/blog2.jpg" alt="Images"></a>
                                    </div>
                                    <div class="content">
                                        <h4>25 July 2025</h4>
                                        <span><a href="#">How Explore Kenya Bizz Empowers Local
                                                Vendors</a></span>
                                    </div>
                                </li>

                                <li>
                                    <div class="img">
                                        <a href="#"><img src="../assets/img/blog3.jpg" alt="Images"></a>
                                    </div>
                                    <div class="content">
                                        <h4>15 July 2025</h4>
                                        <span><a href="#">Mombasa Markets: Hidden Treasures of Coastal
                                                Kenya</a></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copy-right-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8">
                    <div class="copy-right-text">
                        <p>© Explore Kenya Bizz is proudly managed by <a href="https://visionarybizz.com/"
                                target="_blank">Visionary Services</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="copy-right-list">
                        <ul>
                            <li><a href="" target="_blank">Terms of Use</a></li>
                            <li><a href="" target="_blank">Privacy Policy</a></li>
                            <li><a href="" target="_blank">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>