<div class="navbar-area">
        <div class="mobile-nav">
            <a href="../index.html" class="logo">
                <img src="../assets/img/logo/logoa.png" alt="Logo">
            </a>
        </div>

        <div class="main-nav">
            <div class="container-fluid">
                <nav class="container-max navbar navbar-expand-md navbar-light ">
                    <a class="navbar-brand" href="../index.html">
                        <img src="../assets/img/logo/logoa.png" width="150px" alt="Logo">
                    </a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">

                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    About
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Explore Kenya
                                    <i class='bx '></i>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Listing
                                    <i class='bx bx-plus'></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="../real-estate/main.html" class="nav-link">
                                            Real Estate
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="../manufacturing/main.html" class="nav-link">
                                            Manufacturing
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="../shops-and-suppliers/main.html" class="nav-link">
                                            Shops and Suppliers
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Global Listings
                                    <i class='bx bx-plus'></i>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    News & Updates
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    Contact
                                </a>
                            </li>
                        </ul>

                        <div class="side-nav d-in-line align-items-center">
                            <div class="side-item">

                            </div>

                            <div class="side-item">
                                <div class="nav-add-btn">
                                    <a href="" class="default-btn border-radius">
                                        Add Listing
                                        <i class='bx bx-plus'></i>
                                    </a>
                                </div>
                            </div>

                            <div class="side-item">
                                <div class="search-box">
                                    <i class="flaticon-loupe"></i>
                                </div>
                            </div>

                            <div class="side-item">
                                <div class="user-btn">
                                    <a href="">
                                        <i class="flaticon-contact"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="side-nav-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="circle-inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="side-nav-inner">
                        <div class="side-nav justify-content-center  align-items-center">
                            <div class="side-item">
                                <div class="cart-btn">
                                    <a href="">
                                        <i class="flaticon-shopping-bags"></i>
                                        <span>0</span>
                                    </a>
                                </div>
                            </div>

                            <div class="side-item">
                                <div class="search-box">
                                    <i class="flaticon-loupe"></i>
                                </div>
                            </div>

                            <div class="side-item">
                                <div class="user-btn">
                                    <a href="">
                                        <i class="flaticon-contact"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="side-item">
                                <div class="nav-add-btn">
                                    <a href="" class="default-btn border-radius">
                                        Add Listing
                                        <i class='bx bx-plus'></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>